{% extends 'base.html' %}
{% block content %}

<div class="page-inner">
    <div class="page-header">
      <h3 class="fw-bold mb-3">Change Password</h3>
     
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Change Password</div>
          </div>
          <div class="card-body">
            {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'error' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
               {% if messages %}
            {% for message in messages %}
             {% if message.tags == 'success' %}
           <div class="alert alert-warning alert-dismissible fade show" role="alert" style="color: red;">
          {{message}}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: red;">
         <span aria-hidden="true">&times;</span>
             </button>
              </div>
           {% endif %}
            {% endfor %}
           {% endif %}
            <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 col-lg-8">
              
            
             
                <div class="form-group has-success">
                  <label for="successInput">Current Password</label>
                  <input id="password" type="password"  class="form-control" name="cpwd"  required="true">
                </div>
                
               
                <div class="form-group has-success">
                    <label for="successInput">New Password</label>
                    <input id="password" type="password" name="npwd" class="form-control" required="true">
                  </div>

              </div>
          
          
            </div>
          </div>
          <div class="card-action">
            <button type="submit" class="btn btn-success">Change</button>
           
          </div></form>
        </div>
      </div>
    </div>
  </div>



{% endblock %}