<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  P-901, Noida, Uttar Pradesh
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +99 8956235689
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  support@gmail.com
                </span>
              </a>
            </div>
          </div>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              Beatae provident nobis mollitia magnam voluptatum, unde dicta facilis minima veniam corporis laudantium alias tenetur eveniet illum reprehenderit fugit a delectus officiis blanditiis ea.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto footer_col">
          <div class="footer_link_box">
            <h4>
              Quick Links
            </h4>
            <div class="footer_links">
              <a class="active" href="{% url 'index' %}">
                Home
              </a>
              <a class="" href="{% url 'aboutus' %}">
                About
              </a>
              <a class="" href="{% url 'contactus' %}">
                Contact Us
              </a>
              <a class="" href="{% url 'donor-list' %}">
                Donor List
              </a>
             
            </div>
          </div>
        </div>
      
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Blood Bank and Donor Management System
         
        </p>
       
      </div>  
    </div>
  </footer>